[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gensim = "==4.4.0"
jieba = "==0.42.1"
wordcloud = "==1.9.4"
matplotlib = "==3.10.7"

[dev-packages]

[requires]
python_version = "3.10"
